body {
  margin: 0;
}

.navbar {
  padding: 20px;
}

.navbar a{
  margin-right: 20px;
  color: #fff;
  text-decoration: none;
}

a:hover {
  color:#0d6efd;
}

.form-group input {
  margin-bottom: 10px;
}

.modal-body .btn {
  margin-right: 10px;
}
